.row-layout {
  display: flex;
}
.dashboard-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  overflow: hidden;
}
.navbar {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.icon-button {
  --ig-size: var(--ig-size-small);
}
.h6 {
  margin: 0;
  flex-shrink: 0;
}
.text {
  text-align: center;
  left: 346px;
  top: 583.7093690248564px;
  position: absolute;
  width: 645px;
  height: max-content;
  min-width: min-content;
  max-width: 645px;
}
.image {
  object-fit: cover;
  left: 330.4015296367112px;
  top: 106.75334608030593px;
  position: absolute;
  height: 408px;
  min-width: 0;
  min-height: 0;
  max-height: 408px;
}
