.row-layout {
  display: flex;
}
.covoiturage-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  overflow: hidden;
}
.navbar {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.icon-button {
  --ig-size: var(--ig-size-small);
}
.h6 {
  margin: 0;
  flex-shrink: 0;
}
.image {
  object-fit: cover;
  z-index: 1;
  left: 347.0879541108987px;
  top: 201.26003824091774px;
  position: fixed;
  width: 661px;
  height: 227px;
  min-width: 0;
  min-height: 0;
  max-width: 661px;
  max-height: 227px;
}
.radio-group {
  width: max-content;
  height: max-content;
}
.radio {
  padding: 8px;
}
.textarea {
  left: 184.4741873804971px;
  top: 655.2963671128108px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
